@import './common.css';



/*___________________공통___________________*/
.wrap {
    height: 100%;
    padding: 0 5.33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap > div {
    width: 100%;
}




/* header */
.header-area {
    height: 60px;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-area a {
    width: 32px;
    height: 32px;
    margin-left: -12px;
    background: url(../img/ico-back.png) no-repeat center / 100%;
}
.header-area .btn-faq {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #485566;
    background: #F5F4F9;
    border-radius: 4px;
    line-height: normal;
}
/* header */




/* progress bar */
.swiper-pagination {
    z-index: 1 !important;
}
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
    position: fixed;
    left: 0 !important;
    top: 60px !important;
    width: 100% !important;
    height: 5px !important;
    background: #EFEEF5 !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #496DDB !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
/* progress bar */




/* 컨텐츠 */
.swiper {
    height: 100%;
}
.cont-area {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}
.cont-area .text-box {
    min-height: 82px;
}
.cont-area .text-box p {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.4px;
}
.cont-area .text-box p > span {
    color: #496DDB;
}
.cont-area .text-box > span {
    display: block;
    margin-top: 6px;
    color: #555555;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: normal;
}
.cont-area .img-box {
    position: relative;
    width: 100%;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
/* 컨텐츠 */




/* 하단 고정 버튼 */
.swiper-button-wrap {
    position: absolute;
    bottom: 34px;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.swiper-button-wrap .swiper-button {
    width: 100%;
    height: 55px;
    border-radius: 14px;
    font-size: 18px;
    color: #fff;
    background: #496DDB;
    letter-spacing:-0.9px;
    line-height: normal;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    content: none !important;
}
.swiper-button-next, .swiper-button-prev {
    position: relative !important;
    margin-top: 0 !important;
    top: auto !important;
}
.swiper-button-next {
    right: auto !important;
}
.swiper-button-prev {
    left: auto !important;
}
.swiper-button-wrap .swiper-button-prev {
    color: #7E7F85 !important;
    background: #EBEBEB !important;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
}
.swiper-button-wrap button {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 15px;
    color: #C2C2C5;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.6px;
}
/* 하단 고정 버튼 */






/* step별 팝업창 */
.dimmedarea {
    background: #666;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
}
.pop-area {
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    z-index: 5;
    width: 90%;
    padding: 28px 16px 16px 16px;
    background: #fff;
    border-radius: 30px;
    animation: slideUp 0.4s forwards;
}
.pop-area .txt-box {
    padding-left: 6px;
}
@keyframes slideUp {
    0% {
        bottom: -200px;
        opacity: 0;
    }
    100% {
        bottom: 34px;
        opacity: 1;
    }
}
.slide-pop .bar {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background: #E6E6E6;
    border-radius: 10px;
}
.slide-pop p {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.4px;
}
.slide-pop .desc {
    margin: 14px 0 44px;
    font-size: 14px;
    color: #555555;
    font-weight: 500;
    letter-spacing: -0.3px;
}
.slide-pop .mark {
    color: #496DDB;
}
.slide-pop button {
    width: 100%;
    height: 55px;
    font-size: 18px;
    border-radius: 14px;
    background: #496DDB;
    color: #fff;
    letter-spacing: -0.9px;
    line-height: normal;
    z-index: 100;
}
.slide-pop.step01 .pop-area {
    padding-top: 38px;
}
.slide-pop.step02 img {
    width: 192px;
    margin: 29px auto 13px;
} 
.slide-pop.step03 .adtxt {
    margin-top: 7px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: normal;
    color: #E52F2F;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.slide-pop.step03 .img-box {
    width: 120px;
    margin: 30px auto 16px;
    padding: 7px;
    border: 1px solid #F2EBEB;
    border-radius: 10px;
}
.slide-pop.step03 .info-box {
    margin: 16px 0 26px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-pop.step03 .info-box p:nth-child(1) {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #5D5F65;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    line-height: normal;
}
.slide-pop.step03 .info-box p:nth-child(1) span {
    padding: 3px;
    font-size: 8px;
    color: #496DDB;
    font-weight: 600;
    border: 1px solid #496DDB;
    flex-shrink: 0;
}
.slide-pop.step03 .info-box p:nth-child(2) {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 600;
}
/* step별 팝업창 */





/* sub 팝업창 */
.sub-pop .dimmedarea {
    background: rgba(102, 102, 102,0.6);
    z-index: 1;
}
.sub-pop-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 90%;
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub-pop-area > div {
    width: 100%;
}

/* _____ 팝업창 type1 _____ */
.sub-pop-area .type1 {
    position: relative;
    height: 233px;
    text-align: center;
    padding: 0 16px 16px;
}

/* 로티 애니메이션 */
.sub-pop-area .type1 > div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.sub-pop-area #pop01 svg {
    height: 98px !important;
}
.sub-pop-area #pop02 svg {
    height: 90px !important;
}
.sub-pop-area #pop03 {
    top: 25px !important;
}
.sub-pop-area #pop03 svg {
    height: 44px !important;
}
.sub-pop-area #pop04 {
    top: 17px !important;
}
.sub-pop-area #pop04 svg {
    top: 17px !important;
    height: 55px !important;
}
.sub-pop-area #pop05 {
    top: 15px !important;
}
.sub-pop-area #pop05 svg {
    height: 65px !important;
}
.sub-pop-area #pop06 {
    top: 15px !important;
}
.sub-pop-area #pop06 svg {
    top: 15px !important;
    height: 65px !important;
}
.sub-pop-area #pop07 {
    top: 25px !important;
}
.sub-pop-area #pop07 svg {
    top: 25px !important;
    height: 44px !important;
}
/* 로티 애니메이션 */

.sub-pop-area .type1 p:nth-of-type(1) {
    margin-top: 85px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.4px;
}
.sub-pop-area .type1 .mark {
    color: #F3564D;
}
.sub-pop-area .type1 p:nth-of-type(2) {
    margin-top: 6px;
    color: #818284;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.3px;
}
.sub-pop-area .type1 button {
    width: 100%;
    height: 55px;
    margin-top: 16px;
    font-size: 18px;
    border-radius: 14px;
    background: #496DDB;
    color: #fff;
    letter-spacing: -0.9px;
    line-height: normal;
}
/* _____ 팝업창 type1 _____ */



/* _____ 팝업창 type2 문의하기 _____ */
.sub-pop-area .type2 {
    padding: 24px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-pop-area .type2 h2 {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-align: center;
}
.sub-pop-area .type2 label {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
}
.sub-pop-area .type2 label:nth-of-type(1) {
    margin-top: 24px;
}
.sub-pop-area .type2 label:nth-of-type(2) {
    margin-top: 13px;
}
.sub-pop-area .type2 input,
.sub-pop-area .type2 textarea {
    padding: 8px; 
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px; 
    letter-spacing: -0.3px;
    border: 1px solid #EDEDED; 
}
.sub-pop-area .type2 textarea {
    min-height: 143px;
}
.sub-pop-area .type2 input::placeholder {
    color: #818284;
}
.sub-pop-area .type2 .btn-box {
    height: 55px;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.9px;
    gap: 9px;
}
.sub-pop-area .type2 .btn-box button {
    height: 100%;
    border-radius: 14px;
    flex: 1;
    line-height: normal;
}
.sub-pop-area .type2 .btn-box button:nth-child(1) {
    background: #EBEBEB;
    color: #7E7F85;
}
.sub-pop-area .type2 .btn-box button:nth-child(2) {
    background: #496DDB;
    color: #fff;
}
/* _____ 팝업창 type2 문의하기 _____ */
/* sub 팝업창 */
/*___________________공통___________________*/







/*___________________step1___________________*/
/* 키워드 레퍼런스 애니메이션 */
.cont-area .img-box .keyword {
    position: absolute;
    /* bottom: 50px; */
    bottom: 13.33vw;
    /* width: 264px; */
    width: 70.4vw;
    width: 70.4vw;
    height: 46px;
    display: flex;
    align-items: center; 
    justify-content: center;
    --background: #496DDB;
    --text: #fff;
    --font-size: 15px;
    --duration: .8s;
    --move-hover: 20px;
    --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
    --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
    --font-shadow: var(--font-size);
    line-height: var(--font-size);
    letter-spacing: 0.5px;
    border-radius: 11px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-decoration: none;
    font-size: var(--font-size);
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.cont-area .img-box .keyword div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.cont-area .img-box .keyword.animate span {
    display: block;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    font-style: normal;
    transition: transform var(--duration) ease;
    transform: translateY(var(--m)) translateZ(0);
}
.cont-area .img-box .keyword span:nth-child(1) {
    transition-delay: 0.1s;
}
.cont-area .img-box .keyword span:nth-child(2) {
    transition-delay: 0.1s;
}
.cont-area .img-box .keyword span:nth-child(3) {
    transition-delay: 0.15s;
}
.cont-area .img-box .keyword span:nth-child(4) {
    transition-delay: 0.2s;
}
.cont-area .img-box .keyword span:nth-child(5) {
    transition-delay: 0.25s;
}
.cont-area .img-box .keyword span:nth-child(6) {
    transition-delay: 0.3s;
}
.cont-area .img-box .keyword span:nth-child(7) {
    transition-delay: 0.35s;
}
.cont-area .img-box .keyword span:nth-child(8) {
    transition-delay: 0.4s;
}
.cont-area .img-box .keyword span:nth-child(9) {
    transition-delay: 0.45s;
}
.cont-area .img-box .keyword span:nth-child(10) {
    transition-delay: 0.5s;
}
.cont-area .img-box .keyword span:nth-child(11) {
    transition-delay: 0.55s;
}
.cont-area .img-box .keyword.animate {
    --shadow:var(--shadow-hover)
}
.cont-area .img-box .keyword.animate span {
    --m: calc(var(--font-size) * -1)
}


/* 키워드 레퍼런스 애니메이션 */
.cont-area .img-box .keyword:after {
    content: '';
    width: 13px;
    height: 14px;
    margin-left: 6px;
    background: url(../img/ico-copy.png) no-repeat center / 100%;
}


/* 하단 버튼 */
.btn-area {
    position: absolute;
    bottom: 34px;
    width: 100%;
}
.btn-area button {
    width: 100%;
    height: 55px;
    border-radius: 14px;
    font-size: 18px;
    letter-spacing: -0.9px;
    color: #fff;
    background: #496DDB;
    line-height: normal;
}
/*___________________step1___________________*/











/*___________________step4___________________*/
.cont-area .info-box {
    margin-top: 10px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-area .info-box p:nth-child(1) {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.3px;
    color: #5D5F65;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    line-height: normal;
}
.cont-area .info-box p:nth-child(1) span {
    padding: 3px;
    font-size: 8px;
    color: #496DDB;
    font-weight: 600;
    letter-spacing: -0.2px;
    border: 1px solid #496DDB;
    flex-shrink: 0;
}
.cont-area .info-box p:nth-child(2) {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.4px;
}
.input-block-wrap {
    margin: 30px 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.06vw;
}
.input-block-wrap button {
    width: 24px;
    height: 24px;
    background: url(../img/ico-reset.svg) no-repeat center / 17px 17px;
}
.input-block-wrap button.default {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.input-block-wrap.wrong {
    margin-top: 15px;
    border: 1px solid #000;
}




/* ------- type1 : 자릿수 블록 ------- */
.code-input {
    width: 9.06vw;
    height: 11.2vw;
    text-align: center;
    border: 2px solid #496DDB;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #494B50;
    flex-shrink: 0;
    caret-color: #496DDB;
    letter-spacing: -0.4px;
}


/* 잘못입력시 */
.input-block-wrap.wrong .code-input {
    border: 2px solid #E52F2F;
}
.input-block-wrap.wrong span {
    color: #E52F2F;
    font-size: 14px;
    font-weight: 500;
    letter-spacing:-0.4px;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 100%;
}
.input-block-wrap.wrong span::before {
    content: '';
    width: 14px;
    height: 14px;
    background: url(../img/ico-notice.png) no-repeat center / 100%;
}
/* 잘못입력시 */
/* ------- type1 : 자릿수 블록 ------- */



/* ------- type2 : 기본 입력창 ------- */
.input-block-wrap > div {
    position: relative;
    width: 100%;
}
.text-input {
    width: 100%;
    height: 36px;
    padding-right: 30px;
    border-bottom: 2px solid #496DDB;
    font-size: 18px;
    font-weight: 600;
    color: #494B50;
    flex-shrink: 0;
    caret-color: #496DDB;
    border-radius: unset;
}
.input-block-wrap.wrong .text-input {
    border-bottom: 2px solid #E52F2F;
}
/* ------- type2 : 기본 입력창 ------- */


.banner {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
/* 썸네일 */
.cont-area .img-box .thumb {
    width: 142px;
    padding: 8px;
    border: 1px solid #F2EBEB;
    border-radius: 12px;
}
/* 썸네일 */
/*___________________step4___________________*/











@media screen and (max-height: 750px) {
    .cont-area {
        margin-top:38px;
    }
    .cont-area .img-box {
        margin-top: 20px;
    }
}

@media screen and (max-height: 650px) {
    .cont-area {
        margin-top:28px;
    }
    .cont-area .img-box {
        margin-top: 18px;
    }
}







/* 280px 작은모바일 대응 */
@media screen and (max-width: 280px) {
    .header-area {
        height: 45px;
    }
    .header-area a {
        width: 24px;
        height: 24px;
    }
    .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
        top: 45px !important;
        height: 4px !important;
    }
    .header-area button {
        padding: 6px 10px;
        font-size: 10px;
        letter-spacing: -0.2px;
    }
    .cont-area .text-box {
        min-height: 61px;
    }
    .cont-area .text-box p {
        font-size: 16px;
        letter-spacing: -0.3px;
    }
    .cont-area .text-box > span {
        margin-top: 4px;
        font-size: 10px;
        letter-spacing: -0.2px;
    }
    .btn-area button {
        height: 41px;
        border-radius: 10px;
        font-size: 14px;
        letter-spacing: -0.7px;
    }
    .swiper-button-wrap {
        bottom: 25px;
        gap: 7px;
    }
    .swiper-button-wrap button {
        margin-bottom: 11px;
        font-size: 11px;
        letter-spacing: -0.4px;
    }
    .swiper-button-wrap .swiper-button {
        height: 41px;
        border-radius: 10px;
        font-size: 13px;
        letter-spacing: -0.7px;
    }

    /* 팝업창 */
    .slide-pop {
        padding: 10px;
        border-radius: 22px;
    }
    .pop-area {
        padding: 21px 12px 12px 12px;
    }
    .pop-area .txt-box {
        padding-left: 4px;
    }
    .slide-pop p {
        font-size: 13px;
        letter-spacing: -0.3px;
    }
    .slide-pop .desc {
        margin: 10px 0 33px;
        font-size: 10px;
        letter-spacing: -0.2px;
    }
    .slide-pop button {
        height: 41px;
        border-radius: 10px;
        font-size: 14px;
        letter-spacing: -0.7px;
    }
    .slide-pop .bar {
        top: 12px;
        width: 30px;
        height: 3px;
        border-radius: 7px;
    }
    .slide-pop.step02 img {
        width: 143px;
        margin: 22px auto 10px;
    }
    .slide-pop.step03 .img-box {
        width:90px;
        margin: 22px auto 12px;
        padding: 5px;
        border-radius: 7px;
    }
    .slide-pop.step03 .info-box {
        margin: 12px 0 19px;
        padding: 0 12px;
    }
    .slide-pop.step03 .info-box p:nth-child(1) {
        font-size: 10px;
        letter-spacing: -0.2px;
        gap: 3px;
    }
    .slide-pop.step03 .info-box p:nth-child(1) span {
        padding: 2px;
        font-size: 10px;
        letter-spacing: -0.2px;
    }
    .slide-pop.step03 .info-box p:nth-child(2) {
        margin-top: 4px;
        font-size: 16px;
        letter-spacing: -0.3px;
    }
    .slide-pop.step03 .adtxt {
        margin-top: 5px;
        font-size: 10px;
        letter-spacing: -0.2px;
        line-height: normal;
    }
    /* 팝업창 */




    /*___________________step1___________________*/
    /* 키워드 레퍼런스 애니메이션 */
    .cont-area .img-box .keyword {
        position: absolute;
        bottom: 37px;
        width: 197px;
        height: 34px;
        --font-size: 11px;
        letter-spacing: -0.6px;
        border-radius: 8px;
    }
    .cont-area .img-box .keyword:after {
        width: 10px;
        height: 10px;
        margin-left: 4px;
    }
    /*___________________step1___________________*/





    /* step4 */
    .cont-area .img-box .thumb {
        width: 106px;
        padding: 6px;
        border-radius: 9px;
    }
    .cont-area .info-box {
        margin-top: 7px;
        padding: 0 12px;
    }
    .cont-area .info-box p:nth-child(1) {
        font-size: 10px;
        letter-spacing: -0.2px;
        gap: 3px;
    }
    .cont-area .info-box p:nth-child(1) span {
        padding: 2px;
        font-size: 10px;
        letter-spacing: -0.2px;
    }
    .cont-area .info-box p:nth-child(2) {
        margin-top: 4px;
        font-size: 16px;
        letter-spacing: -0.3px;
    }
    .input-block-wrap {
        margin-top: 22px;
        gap: 3px;
    }
    .code-input {
        width: 25px;
        height: 31px;
        border-radius: 7px;
        font-size: 13px;
    }
    .text-input {
        height: 27px;
        padding-right: 22px;
        font-size: 13px;
        letter-spacing: -0.3px;
    }
    .input-block-wrap button {
        width: 18px;
        height: 18px;
        background: url(../img/ico-reset.svg) no-repeat center / 13px 13px;
    }
    .input-block-wrap button.default {
        position: absolute;
        right: 0;
        transform: translateY(-50%);
    }
    /* step4 */




    /* sub 팝업창 */
    .sub-pop-area {
        border-radius: 22px;
    }
    .sub-pop-area .type1 {
        height: 174px;
        padding: 0 12px 12px;
    }

    /* 로티 애니메이션 */
    .sub-pop-area #pop01 svg {
        height: 73px !important;
    }
    .sub-pop-area #pop02 svg {
        height: 67px !important;
    }
    .sub-pop-area #pop03 {
        top: 19px !important;
    }
    .sub-pop-area #pop03 svg {
        height: 33px !important;
    }
    .sub-pop-area #pop04 {
        top: 13px !important;
    }
    .sub-pop-area #pop04 svg {
        height: 41px !important;
    }
    .sub-pop-area #pop05 {
        top: 11px !important;
    }
    .sub-pop-area #pop05 svg {
        height: 48px !important;
    }
    .sub-pop-area #pop06 {
        top: 11px !important;
    }
    .sub-pop-area #pop06 svg {
        height: 49px !important;
    }
    .sub-pop-area #pop07 {
        top: 19px !important;
    }
    .sub-pop-area #pop07 svg {
        height: 33px !important;
    }
    /* 로티 애니메이션 */


    .sub-pop-area .type1 p:nth-of-type(1) {
        margin-top: 63px;
        font-size: 16px;
        letter-spacing: -0.3px;
    }
    .sub-pop-area .type1 p:nth-of-type(2) {
        margin-top: 4px;
        font-size: 13px;
        letter-spacing: -0.3px;
    }
    .sub-pop-area .type1 button {
        height:41px;
        margin-top: 12px;
        font-size: 13px;
        border-radius: 10px;
        letter-spacing: -0.7px;
    }
    /* 문의하기 */
    .sub-pop-area .type2 {
        padding: 18px 12px 12px;
    }
    .sub-pop-area .type2 h2 {
        margin-top: 3px;
        font-size: 15px;
        letter-spacing: -0.3px;
    }
    .sub-pop-area .type2 label {
        margin-bottom: 4px;
        font-size: 12px;
        letter-spacing: -0.2px;
    }
    .sub-pop-area .type2 label:nth-of-type(1) {
        margin-top: 18px;
    }
    .sub-pop-area .type2 input, .sub-pop-area .type2 textarea {
        padding: 6px;
        font-size: 11px;
        border-radius: 6px;
        letter-spacing: -0.2px;
    }
    .sub-pop-area .type2 textarea {
        min-height: 106px;
    }
    .sub-pop-area .type2 .btn-box {
        height: 41px;
        margin-top: 18px;
        font-size: 13px;
        letter-spacing: -0.7px;
        gap: 7px;
    }
    .sub-pop-area .type2 .btn-box button {
        border-radius: 10px;
    }

}
