@import './common.css';

.wrap {
    padding: 0 5.33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.wrap > div {
    width: 100%;
}
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.46vw 0;
    height: 16vw;
}
.header-area a {
    width: 8.53vw;
    height: 8.53vw;
    margin-left: -12px;
    background: url(../img/ico-back.png) no-repeat center / 100%;
}
.header-area button {
    padding: 2.13vw 3.2vw;
    font-size: 3.2vw;
    font-weight: 600;
    color: #485566;
    letter-spacing: calc(3.2vw * (-2 / 100));
    background: #F5F4F9;
    border-radius: 4px;
}



/* progress bar 애니메이션 */
@keyframes aniBar {
    0% {width: 0;}
    100% {width:100%;}
}
/* progress bar 애니메이션 */











.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
    position: fixed;
    left: 0 !important;
    top: 16vw !important;
    width: 100% !important;
    height: 1.33vw !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #496DDB !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}





.swiper {
    border: 1px solid #000;
    height: 100%;
}
.cont-area {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}
.text-box {
    min-height: 21.86vw;
    border: 1px solid #000;
}
.text-box h1 {
    font-weight: 700;
    font-size: 7.47vw;
    color: #496DDB;
    letter-spacing: calc(7.47vw * (-1 / 100));
}
.text-box p {
    font-size: 5.87vw;
    margin-top: 1.6vw;
    font-weight: 600;
    letter-spacing: calc(5.87vw * (-2 / 100));
}
.text-box p > span {
    color: #496DDB;
}
.text-box > span {
    display: block;
    margin-top: 2.4vw;
    color: #555555;
    font-size: 3.2vw;
    font-weight: 600;
}
.img-box {
    position: relative;
    width: 100%;
    /* margin-top: 10vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 1px solid #000;
}
.img-box.animation {
    /* margin-top: 3vh; */
    max-width: 100%;
    border: 1px solid red;
}
.img-box img {
    width: 61.33vw;
}




/* 키워드 레퍼런스 애니메이션 */
.img-box .keyword {
    position: absolute;
    bottom: 6.93vw;
    width: 70.4vw;
    height: 12.26vw;
    display: flex;
    align-items: center;
    justify-content: center;
    --background: #496DDB;
    --text: #fff;
    --font-size: 3.73vw;
    --duration: .44s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
    --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
    --font-shadow: var(--font-size);
    --y: var(--move-hover);
    line-height: var(--font-size);
    border-radius: 11px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: 0.5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.img-box .keyword div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 var(--font-shadow) 0 var(--text);
  }
.img-box .keyword span {
    display: block;
    --m: calc(var(--font-size) * -1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    font-style: normal;
    transition: transform var(--duration) ease;
    transform: translateY(var(--m)) translateZ(0);
}
.img-box .keyword span:nth-child(1) {
    transition-delay: 0.05s;
}
.img-box .keyword span:nth-child(2) {
    transition-delay: 0.1s;
}
.img-box .keyword span:nth-child(3) {
    transition-delay: 0.15s;
}
.img-box .keyword span:nth-child(4) {
    transition-delay: 0.2s;
}
.img-box .keyword span:nth-child(5) {
    transition-delay: 0.25s;
}
.img-box .keyword span:nth-child(6) {
    transition-delay: 0.3s;
}
.img-box .keyword span:nth-child(7) {
    transition-delay: 0.35s;
}
.img-box .keyword span:nth-child(8) {
    transition-delay: 0.4s;
}
.img-box .keyword span:nth-child(9) {
    transition-delay: 0.45s;
}
.img-box .keyword span:nth-child(10) {
    transition-delay: 0.5s;
}
.img-box .keyword span:nth-child(11) {
    transition-delay: 0.55s;
}
/* 키워드 레퍼런스 애니메이션 */





.img-box .keyword:after {
    content: '';
    margin-left: 1.6vw;
    width: 3.46vw;
    height: 3.73vw;
    background: url(../img/ico-copy.png) no-repeat center / 100%;
}
.btn-area {
    position: absolute;
    bottom: 34px;
    /* padding: 0 5.33vw; */
    border: 1px solid #000;
}
.btn-area .swiper-button {
    height: 14.66vw;
    width: 100%;
    border-radius: 14px;
    font-size: 4.8vw;
    color: #fff;
    background: #496DDB;
}
.btn-area.flex {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.66vw;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    content: none !important;
}
.swiper-button-next, .swiper-button-prev {
    position: relative !important;
    margin-top: 0 !important;
    top: auto !important;
}
.swiper-button-next {
    right: auto !important;
}
.swiper-button-prev {
    left: auto !important;
}
.btn-area.flex .swiper-button-prev {
    color: #7E7F85 !important;
    background: #EBEBEB !important;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
}





/* step4 */
.cont-area .info-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-area .info-box p:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #5D5F65;
    font-size: 14px;
    font-weight: 500;
}
.cont-area .info-box p:nth-child(1) span {
    padding: 3px;
    font-size: 8px;
    color: #496DDB;
    font-weight: 600;
    border: 1px solid #496DDB;
}
.cont-area .info-box p:nth-child(2) {
    font-size: 22px;
    font-weight: 600;
    margin-top: 5px;
}
.code-input-block {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}
.code-input {
    padding: 10px 9px;
    width: 34px;
    height: 42px;
    border: 2px solid #496DDB;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #494B50;
}
.code-input:focus {
    outline: none;
}






/* 팝업창 */
.dimmedarea {
    background: rgba(0, 0, 0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
.pop-area {
    position: absolute;
    width: 90%;
    bottom: 34px;
    background: #fff;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 16px;
    padding-top: 16px;
    bottom: -200px; 
    animation: slideUp 1s forwards;  
}
@keyframes slideUp {
    0% {
        bottom: -200px;  
        opacity: 0;
    }
    100% {
        bottom: 34px;  
        opacity: 1;
    }
}
.pop-area > span {
    display: block;
    margin: 0 auto 18px;
    width: 40px;
    background: #E6E6E6;
    height: 4px;
}
.pop-area p {
    font-size: 18px;
    font-weight: 600;
}
.pop-area .desc {
    font-size: 14px;
    color: #555555;
    font-weight: 500;
    margin-top: 3.73vw;
    margin-bottom: 11.73vw;
}
.pop-area .mark {
    color: #496DDB;
}
.pop-area button {
    background: #496DDB;
    color: #fff;
    border-radius: 14px;
    width: 100%;
    height: 14.66vw;
    font-size: 4.8vw;
}
.pop-area img {
    width: 51.2vw;
    margin: 6.13vw auto 2.66vw;
} 
/* 팝업창 */











@media screen and (max-height: 650px) {
    /* .img-box {
        margin-top: 30px;
    }
    .img-box.animation {
        margin-top: -20px;
        z-index: -1;
        border: 1px solid #000;
    } */
}

