@import './common.css';



/*___________________공통___________________*/

.wrap {
    height: 100%;
    padding: 0 5.33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap > div {
    width: 100%;
}



/* header */
.header-area {
    height: 16vw;
    padding: 3.46vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-area a {
    width: 8.53vw;
    height: 8.53vw;
    margin-left: -3.2vw;
    background: url(../img/ico-back.png) no-repeat center / 100%;
}
.header-area button {
    padding: 2.13vw 3.2vw;
    font-size: 3.2vw;
    font-weight: 600;
    letter-spacing: calc(3.2vw * (-2 / 100));
    color: #485566;
    background: #F5F4F9;
    border-radius: 4px;
}
/* header */



/* progress bar */
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
    position: fixed;
    left: 0 !important;
    top: 16vw !important;
    width: 100% !important;
    height: 1.33vw !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #496DDB !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
/* progress bar */



/* 컨텐츠 */
.swiper {
    height: 100%;
}
.cont-area {
    margin-top: 12.8vw;
    display: flex;
    flex-direction: column;
}
.cont-area .text-box {
    min-height: 21.86vw;
}
.cont-area .text-box p {
    font-size: 5.86vw;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: calc(5.86vw * (-2 / 100));
}
.cont-area .text-box p > span {
    color: #496DDB;
}
.cont-area .text-box > span {
    display: block;
    margin-top: 1.6vw;
    color: #555555;
    font-size: 3.2vw;
    font-weight: 600;
    letter-spacing: calc(3.2vw * (-2 / 100));
}
.cont-area .img-box {
    position: relative;
    width: 100%;
    margin-top: 7.46vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}



/* 하단 고정 버튼 */
.swiper-button-wrap {
    position: absolute;
    bottom: 34px;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.66vw;
    border: 1px solid #000;
}
.swiper-button-wrap .swiper-button {
    width: 100%;
    height: 14.66vw;
    border-radius: 3.73vw;
    font-size: 4.8vw;
    color: #fff;
    background: #496DDB;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    content: none !important;
}
.swiper-button-next, .swiper-button-prev {
    position: relative !important;
    margin-top: 0 !important;
    top: auto !important;
}
.swiper-button-next {
    right: auto !important;
}
.swiper-button-prev {
    left: auto !important;
}
.swiper-button-wrap .swiper-button-prev {
    color: #7E7F85 !important;
    background: #EBEBEB !important;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
}
.swiper-button-wrap button {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 4vw;
    color: #C2C2C5;
    font-size: 4vw;
}
/* 하단 고정 버튼 */



/* 팝업창 */
.pop-wrap {
    display: none;
}
.dimmedarea {
    background: rgba(0, 0, 0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.pop-area {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 90%;
    padding: 16px;
    background: #fff;
    border-radius: 8vw;
    animation: slideUp 0.8s forwards;  
}
.on {
    display: block;
}
@keyframes slideUp {
    0% {
        bottom: -200px;  
        opacity: 0;
    }
    100% {
        bottom: 34px;  
        opacity: 1;
    }
}
.pop-area > span {
    display: block;
    width: 40px;
    height: 4px;
    margin: 0 auto 2.13vw;
    background: #E6E6E6;
}
.pop-area p {
    font-size: 4.8vw;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: calc(4.8vw * (-2 / 100));
}
.pop-area .desc {
    margin: 3.73vw 0 11.73vw;
    font-size: 3.73vw;
    color: #555555;
    font-weight: 500;
}
.pop-area .mark {
    color: #496DDB;
}
.pop-area button {
    width: 100%;
    height: 14.66vw;
    font-size: 4.8vw;
    border-radius: 3.73vw;
    background: #496DDB;
    color: #fff;
}
.pop-area.step02 img {
    width: 51.2vw;
    margin: 7.73vw auto 2.66vw;
} 
/* 팝업창 */

/*___________________공통___________________*/







/*___________________step1___________________*/
/* 키워드 레퍼런스 애니메이션 */
.cont-area .img-box .keyword {
    position: absolute;
    bottom: 6.93vw;
    width: 70.4vw;
    height: 12.26vw;
    display: flex;
    align-items: center;
    justify-content: center;
    --background: #496DDB;
    --text: #fff;
    --font-size: 3.73vw;
    --duration: .8s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
    --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
    --font-shadow: var(--font-size);
    --y: var(--move-hover);
    line-height: var(--font-size);
    border-radius: 11px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-decoration: none;
    font-size: var(--font-size);
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.cont-area .img-box .keyword div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.cont-area .img-box .keyword span {
    display: block;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    font-style: normal;
    transition: transform var(--duration) ease;
    transform: translateY(var(--m)) translateZ(0);
}
.cont-area .img-box .keyword span:nth-child(1) {
    transition-delay: 0.05s;
}
.cont-area .img-box .keyword span:nth-child(2) {
    transition-delay: 0.1s;
}
.cont-area .img-box .keyword span:nth-child(3) {
    transition-delay: 0.15s;
}
.cont-area .img-box .keyword span:nth-child(4) {
    transition-delay: 0.2s;
}
.cont-area .img-box .keyword span:nth-child(5) {
    transition-delay: 0.25s;
}
.cont-area .img-box .keyword span:nth-child(6) {
    transition-delay: 0.3s;
}
.cont-area .img-box .keyword span:nth-child(7) {
    transition-delay: 0.35s;
}
.cont-area .img-box .keyword span:nth-child(8) {
    transition-delay: 0.4s;
}
.cont-area .img-box .keyword span:nth-child(9) {
    transition-delay: 0.45s;
}
.cont-area .img-box .keyword span:nth-child(10) {
    transition-delay: 0.5s;
}
.cont-area .img-box .keyword span:nth-child(11) {
    transition-delay: 0.55s;
}
.cont-area .img-box .keyword.animate {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);
    border: 1px solid red;
}
.cont-area .img-box .keyword.animate span {
  --m: calc(var(--font-size) * -1);
  border: 1px solid #000;
}
/* 키워드 레퍼런스 애니메이션 */

.cont-area .img-box .keyword:after {
    content: '';
    width: 3.46vw;
    height: 3.73vw;
    margin-left: 1.6vw;
    background: url(../img/ico-copy.png) no-repeat center / 100%;
}


/* 하단 버튼 */
.btn-area {
    position: absolute;
    bottom: 34px;
    width: 100%;
}
.btn-area button {
    width: 100%;
    height: 14.66vw;
    border-radius: 3.73vw;
    font-size: 4.8vw;
    color: #fff;
    background: #496DDB;
}
/*___________________step1___________________*/











/*___________________step4___________________*/
.cont-area .info-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
.cont-area .info-box p:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #5D5F65;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.cont-area .info-box p:nth-child(1) span {
    padding: 3px;
    font-size: 8px;
    color: #496DDB;
    font-weight: 600;
    border: 1px solid #496DDB;
    flex-shrink: 0;
}
.cont-area .info-box p:nth-child(2) {
    font-size: 22px;
    font-weight: 600;
    margin-top: 5px;
}
.code-input-block {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}
.code-input {
    text-align: center;
    width: 34px;
    height: 42px;
    border: 2px solid #496DDB;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #494B50;
    flex-shrink: 0;
    caret-color: #496DDB;
}
.code-input:focus {
    outline: none;
}
.code-input-block button {
    display: none;
}
.code-input-block button.on {
    display: block;
    background: url(../img/ico-reset.svg) no-repeat center / 100%;
    width: 17px;
    height: 17px;
}
.banner {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
/* step4 썸네일 */
.cont-area .img-box .thumb {
    margin-top: 1.33vw;
    border: 1px solid #F2EBEB;
    width:37.86vw;
    border-radius: 12px;
    padding: 2.13vw 1.86vw;
}
/* step4 썸네일 */
/*___________________step4___________________*/



















@media screen and (max-height: 650px) {
    /* .img-box {
        margin-top: 30px;
    }
    .img-box.animation {
        margin-top: -20px;
        z-index: -1;
        border: 1px solid #000;
    } */
}

